* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 120, 241);

    display: flex;
    flex-direction: column;
    align-items: center;
} 

header {
    font: normal 20pt Arial,sans-serif;
    color: white;
    margin-top: 5%;
   
}

section {
    background-color: white;

    border-radius: 15px;
    margin-top: 2em;
    padding: 15px;
    box-shadow: 5px 5px 50px grey;

    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.formInput {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formInput input {
    margin: 5px;
}

.botao {
    height: 30px;
    width: 60px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(133, 223, 248);
}

#res {
    margin: 5px;
}


footer {
   font: normal 15pt Arial,sans-serif;
   font-style: italic;
   color: white;
   
   margin-top: 30px;
}