* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 120, 241);

    display: flex;
    flex-direction: column;
    align-items: center;
} 

header {
    font: normal 20pt Arial,sans-serif;
    color: white;
    margin-top: 5%;
   
}

section {
    background-color: white;

    border-radius: 15px;
    margin-top: 2em;
    padding: 15px;
    box-shadow: 5px 5px 50px grey;

    display: flex; 
    flex-direction: column;
   

}


input {

    margin: 10px;
    display: flex;
    justify-content: center;
    
} 

input::placeholder{
    
    font: 8pt helvetica grey;
    text-align: center;
    font-style: italic;
}

p .botao {

    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    color: cornsilk;
    font-family:  Arial, Helvetica, sans-serif;
    height: 30px;
    width: 60px;
    margin: 10px;
    background-color: rgb(83, 83, 97);
}




footer {
   font: normal 15pt Arial,sans-serif;
   font-style: italic;
   color: white;
   
   margin-top: 30px;
}